<div class="row">
<div class="col-md-9"><p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas   lobortis felis est, at imperdiet sem porta at. Praesent elementum nunc   sem, sit amet dictum leo consequat eget. Nullam nec tellus mattis quam   volutpat sollicitudin. Nam pulvinar, neque in mattis lacinia, dui orci   aliquet nisl, sed commodo odio elit in orci. In hac habitasse platea   dictumst. Maecenas pulvinar velit non malesuada blandit. Ut pellentesque   felis urna, non imperdiet mauris feugiat non. Sed fermentum orci   sapien, et pulvinar nulla finibus facilisis. Curabitur convallis, sapien   quis mollis fermentum, sapien justo faucibus ligula, maximus sagittis   felis erat a velit. Sed at vulputate lacus. Mauris vulputate lorem ut   diam congue, vel tristique ligula vulputate. </p>
<p> Duis semper dictum felis at scelerisque. Fusce eu nunc iaculis,   fermentum ipsum sed, iaculis ligula. Class aptent taciti sociosqu ad   litora torquent per conubia nostra, per inceptos himenaeos. Duis   ullamcorper dolor id blandit aliquet. Integer sed dictum nibh. Nunc eu   massa mi. Curabitur auctor pharetra metus, vitae elementum ipsum   tristique ac. Fusce vitae sapien sed arcu viverra volutpat. </p>
<p> Curabitur sed urna urna. Cras non pulvinar velit. Mauris ultrices ante   et bibendum sagittis. Nulla facilisi. Aliquam suscipit, orci nec pretium   semper, arcu arcu fermentum felis, dignissim dapibus dui ante id nisl.   Maecenas ut pharetra erat. Curabitur volutpat velit id enim venenatis   auctor. Duis sit amet velit vitae felis dapibus venenatis a eu odio.   Donec congue eros vel aliquet accumsan. Nullam maximus lectus vel urna   malesuada sodales. Sed gravida tristique eros quis iaculis. Pellentesque   in eros convallis, lobortis dolor vel, sagittis elit. Donec eleifend   velit massa, quis iaculis enim dapibus nec. </p>
</div>
<div class="col-md-2">

  <div class="row" ng-include="'partials/form.html'"></div>

<div class="row" ng-include="'partials/hourlyWeather.html'"></div>




</div>
</div>
