<div ng-controller="weatherArea">
<h3>Future Forecast</h3>
<pre>
  {{lat}}
  {{lon}}
  </pre>
<ul class="weatherForecastList">
  <li ng-repeat="dailyweather in weatherJson.daily">
    <div class="clearfix" ng-if="$index % 4 == 0"></div>
    <div class="col-sm-3">
    <h2>{{dailyweather.dt * 1000 | date:'EEEE MM/dd/yyyy'}}</h2>
    <div class="mainWeatherIcon"><i class="wi fa-5x" ng-class="getWeatherIcon(dailyweather.weather[0].main)"></i></div>
    <div>{{dailyweather.weather[0].main}} - {{dailyweather.weather[0].description}}</div>
    <div class="row">
      <div class="col-sm-6"><strong>Sunrise:</strong>{{dailyweather.sunrise * 1000 | date:'h:mm a'}}</div>
      <div class="col-sm-6"><strong>Sunset:</strong> {{dailyweather.sunset * 1000 | date:'h:mm a'}}</div>
    </div>
    <div class="row">
      <div class="col-sm-6"><strong>Temp:</strong> {{dailyweather.temp.day}}</div>
      <div class="col-sm-6"><strong>Feels Like:</strong> {{dailyweather.feels_like.day}}</div>
    </div>
    <div class="row">
      <div class="col-sm-6"><strong>Wind Speed:</strong> {{dailyweather.wind_speed}}</div>
      <div class="col-sm-6"><strong>Wind Direction:</strong> {{getDirection(dailyweather.wind_deg)}} <i class="wi wi-wind fa-2x" ng-class="getWindDirectionIcon(dailyweather.wind_deg)"></i>


      </div>
    </div>
  </li>
  </div>
</ul>
<hr/>
</div>
