<div ng-controller="weatherArea">
<h3>7 day forecast</h3>
  <pre>
  {{lat}}
  {{lon}}
  </pre>

  <ul>
    <li ng-repeat="dailyweather in weatherJson.daily">
<div class="clearfix" ng-if="$index % 3 == 0"></div>
<div class="col-sm-4">
            <h2>{{dailyweather.dt * 1000 | date:'EEEE MM/dd/yyyy'}}</h2>
            <i class="wi fa-5x" ng-class="getWeatherIcon(dailyweather.weather[0].main)"></i>
            Sunrise: {{dailyweather.sunrise * 1000 | date:'h:mm a'}}<br/>
            Sunset: {{dailyweather.sunset * 1000 | date:'h:mm a'}}<br/>
            Temp: {{dailyweather.temp.day}}<br/>
            Feels Like: {{dailyweather.feels_like.day}}<br/>
            <div ng-repeat="description in dailyweather.weather">{{description.main}} - {{description.description}}</div>
            Wind Speed: {{dailyweather.wind_speed}}<br/>
            Wind Direction: {{getDirection(dailyweather.wind_deg)}}
            <pre>{{dailyweather | json}}</pre></li>
        </div>


  </ul>


<hr/>






</div>
